<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.godohdev.tvshow">
    <uses-permission android:name="android.permission.INTERNET"/>
    <dist:module
        dist:instant="false"
        dist:onDemand="true"
        dist:title="@string/title_tvshow">
        <dist:delivery>
            <dist:on-demand />
        </dist:delivery>

        <dist:fusing dist:include="true" />
    </dist:module>

    <application
        android:name="com.godohdev.try_dynamic_feature.CoreApplication"
        >

    </application>

</manifest>